{
  "name": "refactorzone",
  "version": "1.0.0",
  "description": "This is the NPM repository for the piccolo frontend stuff.",
  "license": "MIT",
  "prefix": "htdocs/node_modules",
  "dependencies": {
    "bootstrap-sass": "^3.3.6",
    "compass-mixins": "^0.12.10",
    "font-awesome": "^4.6.2",
    "highlightjs": "^8.7.0",
    "html5shiv": "^3.7.3",
    "jquery": "^2.2.3",
    "open-sans-fontface": "^1.4.0",
    "respond": "^0.9.0",
    "respond.js": "^1.4.2"
  },
  "devDependencies": {
    "uglify-js": "~2.7.0"
  }
}
