{% extends "base.twig" %}

{% set pagetitle = 'Authors' %}

{% block breadcrumbs %}
	<li itemprop="itemListElement" itemscope="itemscope"
		itemtype="https://schema.org/ListItem">
		<a itemprop="item" href="https://refactor.zone/category">
			<span itemprop="name">Categories</span></a>
		<meta itemprop="position" content="2" />
	</li>
{% endblock %}

{% block content %}
	<div class="row">
	{% for category in categories %}
			<div class="col-md-6 col-lg-6">
				<h2><a href="/category/{{ category.slug }}">{{ category.name }}</a></h2>
				{{ category.htmlBody|raw }}
			</div>
	{% endfor %}
	</div>
{% endblock %}
