{% extends "base.twig" %}

{% set pagetitle = 'Categories' %}

{% block breadcrumbs %}
	<li itemprop="itemListElement" itemscope="itemscope"
		itemtype="https://schema.org/ListItem">
		<a itemprop="item" href="https://refactor.zone/category">
			<span itemprop="name">Categories</span></a>
		<meta itemprop="position" content="2" />
	</li>
{% endblock %}

{% block content %}
	<div class="row">
	{% for category in categories %}
			<div class="col-md-6 col-lg-6">
				<div class="card">
					<h2>{{ category.name }}</h2>
					{{ category.htmlBody|raw }}
					<a href="/category/{{ category.slug }}" class="btn btn-success btn-block">Learn more &rarr;</a>
				</div>
			</div>
	{% endfor %}
	</div>
{% endblock %}
