{% extends "base.twig" %}

{% set pagetitle = 'Contribution policy' %}

{% block breadcrumbs %}
	<li itemprop="itemListElement" itemscope="itemscope"
		itemtype="https://schema.org/ListItem">
		<a itemprop="item" href="https://refactor.zone/contributions">
			<span itemprop="name">Contribution policy</span></a>
		<meta itemprop="position" content="2" />
	</li>
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-xl-6 col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-push-1 col-md-push-1">
			<article>
				<div class="card article">
					<header>
						<h1><span itemprop="headline">
								Contribution policy
							</span></h1>
					</header>

					<div class="articleBody">
						<h2>Short, non-binding version</h2>

						<p>
							By contributing to the Refactor Zone, you grant us world wide, irrevocable, royalty free,
							exclusive to do with as we see fit.
						</p>

						<h2>Long, legally binding version</h2>

						<h3>Submitting content</h3>

						<p>
							The Refactor Zone (we, us) accepts contributions using
							[GitHub pull requests](https://github.com/janoszen/refactor.zone]. By submitting content,
							you certify that you have read and understood this policy.
						</p>

						<p>
							By submitting content, you grant us an world wide, irrevocable, royalty free and exclusive
							license	to publish, modify, or otherwise deal with, the submitted material.
						</p>

						<p>
							In exchange, your name and link to website address will be published with the the content
							if desired. In addition, a photo and short biography, as well as social media links will
							also be published for articles. However, the Refactor Zone reserves the right to exclude
							links that point to materials that are racist, sexist, offensive, scientifically inaccurate,
							or are otherwise suitable to tarnish the good name of the Refactor Zone.
						</p>

						<h3>Copyright policy</h3>

						<p>
							By submitting materials, you certify that you have the rights to submit them to this
							policy. We shall be held harmless against any claims regarding to the breach of copyright
							law.
						</p>

						<h3>Updates to this policy</h3>

						<p>
							From time to time, we may decide to update this policy. The policy is then valid for any
							works submitted after the new policy was put into effect.
						</p>

						<p>This policy was last updated 12th of October, 2016</p>
					</div>
				</div>
			</article>
		</div>
	</div>
{% endblock %}