{% extends "base.twig" %}

{% set pagetitle = 'Privacy policy' %}

{% block breadcrumbs %}
	<li itemprop="itemListElement" itemscope="itemscope"
		itemtype="https://schema.org/ListItem">
		<a itemprop="item" href="https://refactor.zone/terms">
			<span itemprop="name">Privacy policy</span></a>
		<meta itemprop="position" content="2" />
	</li>
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-xl-6 col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-push-1 col-md-push-1">
			<article>
				<div class="card article">
					<header>
						<h1><span itemprop="headline">
								Website owner
							</span></h1>
					</header>

					<div class="articleBody">
						<div itemscope="" itemtype="https://schema.org/Organization">
							<meta itemprop="logo" content="https://www.opsbears.com/v1420052371/img/logo.png">
							<meta itemprop="name" content="Opsbears">
							<table class="table">
								<tbody><tr>
									<th class="col-xs-6 col-sm-4">Company name:</th>
									<td class="col-xs-6 col-sm-8" itemprop="legalName">Opsbears e.U.</td>
								</tr>
								<tr>
									<th class="col-xs-6 col-sm-4">Proprietor:</th>
									<td class="col-xs-6 col-sm-8" itemprop="founder" itemscope="" itemtype="http://schema.org/Person"><span itemprop="name">Janos Pasztor</span></td>
								</tr>
								<tr>
									<th class="col-xs-6 col-sm-4">Legal form:</th>
									<td class="col-xs-6 col-sm-8">Sole proprietorship (<span lang="de">Einzelunternehmen</span>)</td>
								</tr>
								<tr>
									<th class="col-xs-6 col-sm-4">Line of Business:</th>
									<td class="col-xs-6 col-sm-8" itemprop="isicV4" content="6311">IT Services (<span lang="de">IT-Dienstleistung</span>)</td>
								</tr>
								<tr>
									<th class="col-xs-6 col-sm-4">EU VAT ID:</th>
									<td class="col-xs-6 col-sm-8" itemprop="vatID">ATU68310348</td>
								</tr>
								<tr>
									<th class="col-xs-6 col-sm-4">Commercial register:</th>
									<td class="col-xs-6 col-sm-8">FN 406446s</td>
								</tr>
								<tr>
									<th class="col-xs-6 col-sm-4">Jurisdiction:</th>
									<td class="col-xs-6 col-sm-8">Commercial Court Vienna (<span lang="de">Handelsgericht Wien</span>)</td>
								</tr>
								<tr>
									<th class="col-xs-6 col-sm-4">Authority:</th>
									<td class="col-xs-6 col-sm-8" lang="de">Magistratisches Bezirksamt des IV. Bezirkes</td>
								</tr>
								<tr>
									<th class="col-xs-6 col-sm-4">Phone:</th>
									<td class="col-xs-6 col-sm-8"><a href="tel:+4313535553" content="+4313535553" itemprop="telephone">+43.1.3535553</a></td>
								</tr>
								<tr>
									<th class="col-xs-6 col-sm-4">Fax:</th>
									<td class="col-xs-6 col-sm-8"><a href="tel:+431353555399" content="+431353555399" itemprop="faxNumber">+43.1.3535553.99</a></td>
								</tr>
								<tr>
									<th class="col-xs-6 col-sm-4">E-mail:</th>
									<td class="col-xs-6 col-sm-8"><a href="mailto:ops&#64;opsbears.com"
																	 itemprop="email">ops&#64;opsbears.com</a></td>
								</tr>
								<tr itemprop="address" itemscope="" itemtype="https://schema.org/PostalAddress">
									<th class="col-xs-6 col-sm-4">Postal address:</th>
									<td class="col-xs-6 col-sm-8"><strong itemprop="name">Opsbears e.U.</strong><br>
										<span itemprop="streetAddress">Graf-Starhemberg-Gasse 47/6</span><br>
										<span itemprop="postalCode">1040</span> <span itemprop="addressLocality">Wien</span><br>
										<span itemprop="addressCountry" content="AT">Austria</span></td>
								</tr>
								<tr>
									<th class="col-xs-6 col-sm-4"></th>
									<td class="col-xs-6 col-sm-8">
										<a href="http://www.wkoecg.at/Web/Ecg.aspx?FirmaID=328cb05b-aa9a-4a49-94dd-6aebc4aa7412" target="_blank" lang="de" hreflang="de">
											<img src="https://www.opsbears.com/v1420052371/img/ecg.gif" alt="Informationen zu E-Commerce und Mediengesetz">
										</a>
									</td>
								</tr>
								</tbody></table>
						</div>
					</div>
				</div>
			</article>
		</div>
	</div>
{% endblock %}