{% extends "base.twig" %}

{% set pagetitle = 'Terms of Use' %}

{% block breadcrumbs %}
	<li itemprop="itemListElement" itemscope="itemscope"
		itemtype="https://schema.org/ListItem">
		<a itemprop="item" href="https://refactor.zone/terms">
			<span itemprop="name">Terms of Use</span></a>
		<meta itemprop="position" content="2" />
	</li>
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-xl-6 col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-push-1 col-md-push-1">
			<article>
				<div class="card article">
					<header>
						<h1><span itemprop="headline">
								Terms of Use
							</span></h1>
					</header>

					<div class="articleBody">
						<h2>Short, non-binding version</h2>

						<p>
							Free free to use this site for any personal or educational purpose, including creating
							copies of it for your lectures. However, no warranties, check anything you intend to use
							beforehand.
						</p>

						<h2>Long, legally binding version</h2>

						<h3>Using this website</h3>

						<p>
							Permission hereby granted to you, the visitor, to view, download and store the content
							published on the refactor.zone domain for personal use, free of charge. Should the laws
							in your country not explicitly allow it, you are also free to use any browser extensions
							or transform the content to enhance your user experience, including, but not limited to,
							adblockers or privacy enhancing extensions.
						</p>

						<h3>Exclusion of liability</h3>

						<p>
							The content is provided &ldquo;as is&rdquo;, without warranty of any kind, express or
							implied, including but not limited to the warranties or correctness, up-to-dateness
							merchantability, fitness for a particular purpose and noninfringement. In no event shall
							the authors or copyright holders be liable for any claim, damages or other liability,
							whether in an action of the contract, tort or otherwise, arising from, out of, or in
							connection with the content or the use or other dealings with the site.
						</p>

						<p>
							You agree to verify any information on this site for correctness and up-to-dateness
							before using said information.
						</p>

						<h3>Copyright</h3>

						<p>
							This website is owned and published by Opsbears e.U, 47/6, Graf-Starhemberg-Gasse, 1040
							Vienna, Austria. Unless otherwise noted, all rights are reserved.
						</p>

						<p>
							If the fair use doctrine does not apply in your country, permission is hereby granted to
							use the text content of this site for purposes such as criticism, comment, news
							reporting, teaching (including multiple copies for classroom use), scholarship, or research.
						</p>

						<p>
							Permission also granted to quote at most two paragraphs of text for any purpose, with
							proper quotation marks.
						</p>

						<p>
							All copies of the text content must include clear markings as to where the material
							originated (e.g. Copyright &copy; Refactor Zone). In web representations of the text
							&ldquo;Refactor Zone&rdquo; must be linked to this site in such a way that search engines
							can properly follow the link and attribute it to this site.
						</p>

						<p>
							These grants of permission do not extend to any artwork published on the site (e.g. the
							decorative images for the articles) as these may be subject to separate copyright
							restrictions.
						</p>

						<p>
							For use cases not outlined here, explicit permission is required.
						</p>

						<h3>Updates to this policy</h3>

						<p>
							From time to time, we may decide to update this policy. You are hereby required to always
							check for an update before you copy any material for non-personal use.
						</p>

						<p>This policy was last updated 6th of October, 2016</p>
					</div>
				</div>
			</article>
		</div>
	</div>
{% endblock %}