$fa-font-path: "../fonts/font-awesome" !default;
$icon-font-path: "../fonts/bootstrap/";
$OpenSansPath: "../fonts/opensans";

@import "reset";
@import "hljs";
@import "social";

@import "../../node_modules/font-awesome/scss/font-awesome";
@import "../../node_modules/open-sans-fontface/sass/variables";
@import "../../node_modules/open-sans-fontface/sass/mixins";
@import "../../node_modules/open-sans-fontface/sass/Regular";
@import "../../node_modules/open-sans-fontface/sass/Italic";
@import "../../node_modules/open-sans-fontface/sass/Semibold";
@import "../../node_modules/open-sans-fontface/sass/SemiboldItalic";
/*@import "../../node_modules/open-sans-fontface/sass/Bold";
@import "../../node_modules/open-sans-fontface/sass/BoldItalic";*/

html body {
	font-family: "Open Sans", sans-serif;
	line-height: 1.5em;
	font-size:   16px;
}

@media (min-width: 480px) {
	html body {
		font-size: 12px;
	}
	ul {
		margin-left:  0;
		padding-left: 20px;
	}
}

@media (min-width: 600px) {
	html body {
		font-size: 14px;
	}
	ul {
		margin-left:  0;
		padding-left: 30px;
	}
}

@media (min-width: 690px) {
	html body {
		font-size: 16px;
	}
	ul {
		margin-left:  0;
		padding-left: 30px;
	}
}

@media (min-width: 992px) {
	html body {
		font-size: 20px;
	}
	ul {
		margin-left:  0;
		padding-left: 30px;
	}
}


pre {
	font-family: monospace;
}

a {
	color:           #63bc46;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1, h2 {
	font-weight: normal;
	line-height: 1.5em;
}

h1 {
	font-size:   1.6em;
	line-height: 1.875em;
}

h2 {
	font-size:     1.5em;
	margin-top:    1em;
	margin-bottom: 0.5em;
	line-height:   2em;
}

header {
	text-align:    center;
	margin-bottom: 1.5em;
}

p, pre, blockquote {
	margin-bottom: 1.5em;
}

p, blockquote {
	text-align:justify;
}

strong {
	font-weight: 600;
}

article {
	padding-left:15px;
	padding-right:15px;
}

