$fa-font-path: "../fonts/font-awesome" !default;
$icon-font-path: "../fonts/bootstrap";
$OpenSansPath: "../fonts/opensans";
$font-family-sans-serif: "Open Sans";
$font-size-base: 20px;
$base-font-size: $font-size-base;
$base-line-height: (1.5*$base-font-size);
$border-radius-base: 0;
$grid-float-breakpoint: 992px;
$brand-primary: #63bc46;

@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../../node_modules/font-awesome/scss/font-awesome";
@import "../../node_modules/open-sans-fontface/sass/variables";
@import "../../node_modules/open-sans-fontface/sass/mixins";
@import "../../node_modules/open-sans-fontface/sass/Regular";
@import "../../node_modules/open-sans-fontface/sass/Italic";
@import "../../node_modules/open-sans-fontface/sass/Semibold";
@import "../../node_modules/open-sans-fontface/sass/SemiboldItalic";
@import "../../node_modules/open-sans-fontface/sass/Bold";
@import "../../node_modules/open-sans-fontface/sass/BoldItalic";
@import "../../node_modules/compass-mixins/lib/compass/typography";
@import "light";
@import "dark";

body {
	background-color: #fefefe;
	@media (min-width: $screen-sm-min) {
		background-color:#f0f0f0;
	}
	font-size:        12px;
}

ul {
	margin-left:  10px;
	padding-left: 10px;
}

a {
	cursor: pointer;
}

@media (min-width: 480px) {
	body {
		font-size: 14px;
	}
	ul {
		margin-left:  0;
		padding-left: 20px;
	}
}

@media (min-width: 600px) {
	body {
		font-size: 16px;
	}
	ul {
		margin-left:  0;
		padding-left: 30px;
	}
}

@media (min-width: 690px) {
	body {
		font-size: 18px;
	}
	ul {
		margin-left:  0;
		padding-left: 30px;
	}
}

@media (min-width: $screen-md-min) {
	body {
		font-size: 20px;
	}
	ul {
		margin-left:  0;
		padding-left: 30px;
	}
}

.text-red {
	color: #e00000;
}

a.text-red:hover {
	color:   #e00000;
	opacity: 0.8;
}

.text-facebook {
	color: #3b5998;
}

a.text-facebook:hover {
	color:   #3b5998;
	opacity: 0.8;
}

.text-twitter {
	color: #1da1f2;
}

a.text-twitter:hover {
	color:   #1da1f2;
	opacity: 0.8;
}

.text-gplus {
	color: #d34836;
}

a.text-gplus:hover {
	color:   #d34836;
	opacity: 0.8;
}

.text-tumblr {
	color: #304e6f;
}

a.text-tumblr:hover {
	color:   #d34836;
	opacity: 0.8;
}

.text-reddit {
	color: #336699;
}

a.text-reddit:hover {
	color:   #336699;
	opacity: 0.8;
}

.text-linkedin {
	color: #0077b5;
}

a.text-linkedin:hover {
	color:   #0077b5;
	opacity: 0.8;
}

.text-wordpress {
	color: #21759b;
}

a.text-wordpress:hover {
	color:   #21759b;
	opacity: 0.8;
}

.nav > li > a:hover, .nav > li > a:active {
	background-color: inherit;
}

.navbar-secondary {
	margin-bottom:    0;
	background-color: #ffffff;
	z-index:          2;
	border-bottom:    1px solid #e5e5e5;
	font-size:        ($font-size-base * 0.7);
	@media (min-width: $grid-float-breakpoint) {
		.navbar-nav > li:first-child a {
			padding-left: 0;
		}
	}

	.navbar-nav {
		&::before, &::after {
			content: normal;
			display: none;
		}
		margin: 0;
		> li {
			float: left;
			> a {
				color:          #999999;
				padding-top:    $navbar-padding-vertical;
				padding-bottom: $navbar-padding-vertical;
				&:hover {
					color: $brand-primary;
				}
			}
		}
	}
}

.navbar-default {
	margin-bottom:0;
	background-color: #ffffff;
	font-size:        ($font-size-base * 0.7);
	height:           90px;
	line-height:      90px;
	box-shadow:       0 0 10px 0 rgba(0, 0, 0, 0.1);
	border-bottom:    1px solid #e5e5e5;
	z-index:          1;
	.navbar-nav > li > a {
		border-left: 2px solid transparent;
		&:hover {
			border-left: 2px solid $brand-primary;
			color:       $brand-primary;
		}
	}
	.navbar-collapse {
		background-color: #ffffff;
	}
	@media (min-width: $grid-float-breakpoint) {
		.navbar-nav > li:last-child a {
			margin-right: 0;
		}
		.navbar-nav > li > a {
			height:         89px;
			line-height:    68px;
			vertical-align: middle;
			margin-left:    20px;
			margin-right:   20px;
			padding-left:   0;
			padding-right:  0;
			border-left:    0;
			&:hover {
				padding-top: 9px;
				border-left: 0;
				border-top:  2px solid $brand-primary;
			}
		}
	}
	.navbar-brand {
		color:        #000000;
		font-size:    inherit;
		margin-right: 40px;
	}
	.navbar-toggle {
		margin-top:    24px;
		margin-bottom: 24px;
	}
}

article {
	@include establish-baseline($font-size-base * 0.90);
	font-size:$font-size-base * 0.90;
	@include rhythm(0, 0, 0, 0, $font-size-base * 0.90);
	color:       #333333;
	hyphens:     auto;

	line-height: rhythm(1, $font-size-base * 0.90);

	header {
		text-align: center;
		@include trailer();
	}

	h1 {
		@include rhythm(0, 0, 0, 0.5, 45px);
		@include adjust-font-size-to(45px);
	}

	h2 {
		@include rhythm(1, 0, 0, 0.5, 30px);
		@include adjust-font-size-to(30px);
	}
	h2:first-child {
		@include rhythm(0, 0, 0, 0.5, 30px);
	}

	h3 {
		@include rhythm(1, 0, 0, 1, 24px);
		@include adjust-font-size-to(24px);
	}
	h3:first-child {
		@include rhythm(0, 0, 0, 1, 24px);
	}

	h4 {
		@include rhythm(1, 0, 0, 1, 20px);
		@include adjust-font-size-to(20px);
	}
	h4:first-child {
		@include rhythm(0, 0, 0, 0.5, 20px);
	}

	p, ul li {
		@include rhythm(0, 0, 0, 1);
		text-align: justify;
	}

	sup, sub {
		vertical-align: baseline;
		position:       relative;
	}
	sup {
		top: -0.4em;
	}
	sub {
		top: 0.4em;
	}

	pre {
		@include rhythm(0, 0, 0, 1);
		margin:     0;
		padding:    0;
		border:     0;
		font-size:  inherit;
		word-break: normal;
		word-wrap:  normal;
		@include adjust-font-size-to(16px);
	}
	pre code {
		display:      block;
		@include rhythm(0, 0, 0, 0);
		@include rhythm-borders();
		border-color: #cccccc;
		word-break:   normal;
		word-wrap:    normal;
		overflow-y:   auto;
	}

	.articleBody :last-child {
		margin-bottom:0;
	}

	footer {
		color: #555555;
		.author {
			@include rhythm(0, 0, 0, 0);
			border-color: #cccccc;
			@include adjust-font-size-to(18px);

			.author-image {
				@include rhythm(0, 0, 0, 0);
				@extend .img-responsive;
				@extend .img-circle;
			}
		}
	}
}

.articlegrid {
	@include establish-baseline(16px);
	font-size: 16px;

	h2 {
		font-size:     inherit;
		line-height:   inherit;
		@include rhythm(0, 0.5, 0.5, 0);
		margin-top:    0;
		margin-bottom: 0;
		a {
			color:       inherit;
			font-weight: bold;
		}
	}

	img {
		max-width: 100%;
	}
	p {
		margin-top:    0;
		margin-bottom: 0;
		text-align:    justify;
	}

	.btn {
		@include rhythm(0.5, 0.5, 0.5, 0);
		width:      100%;
		text-align: center;
		font-size:  inherit;
	}
}

footer.main {
	@include rhythm(0, 0, 1, 0);
	font-size:        16px;
	line-height:      1.5em;
	color:            #b0b0b0;
	background-color: #292929;
	a {
		color: #ffffff;
	}

	h2 {
		text-align:     center;
		@include rhythm(1, 0, 1, 0);
		color:          #e1e1e1;
		font-size:      inherit;
		line-height:    inherit;
		text-transform: uppercase;
	}
	@media (min-width: $screen-md-min) {
		h2 {
			text-align: left;
		}
	}
	p {
		@include rhythm(0, 0, 0, 0);
	}
	.fa {
		color: #e1e1e1;
	}

	.fa.text-red {
		@extend .text-red;
	}

	ul {
		list-style-type: none;
		padding:         0;
		border-bottom:   1px solid #b0b0b0;

		li {
			padding: 0;

			a {
				display:       block;
				padding-left:  20px;
				padding-right: 20px;
				height:        rhythm(2);
				line-height:   rhythm(2);
				border-top:    1px solid #b0b0b0;
				cursor:        pointer;

				&:hover {
					text-decoration:  none;
					background-color: #232323;
				}
			}
		}
	}
}

footer.copyright {
	line-height:      50px;
	height:           50px;
	font-size:        14px;
	color:            #b0b0b0;
	background-color: #232323;
	a {
		color: #ffffff;
	}
	p {
		@include rhythm(0, 0, 0, 0);
	}

	a.btn {
		padding:     0;
		line-height: 30px;
		height:      30px;
		width:       30px;
		text-align:  center;
		border:      0;
		background:  #b0b0b0;
		font-size:   12px;
		&:hover {
			color:      #b0b0b0;
			background: #e1e1e1;
		}
	}
}

.card {
	@include rhythm(0.75,0,0,0);
	&:first-child {
		@include trailing-border(1px, 0.5);
	}
	border-color:#dedede;
	&.share {
		text-align:   center;
		@include rhythm-borders(1px, 0.5);
		@include rhythm(0.75,0.75,0.75, 0.75);
		a {
			margin-left:  2px;
			margin-right: 2px;
			@include adjust-font-size-to(42px);
		}
	}

	.author h2 {
		line-height:1em;
	}
	.author p {
		margin-bottom:0;
	}

	@media (min-width: $screen-sm-min) {
		margin-top:20px;
		margin-bottom:20px;
		padding:20px;
		background:#fff;
		box-shadow:       0 0 10px 0 rgba(0, 0, 0, 0.1);
		border: 1px solid #dedede;
		&:first-child {
			padding:20px;
		}
		&.share {
			margin-top:20px;
			margin-bottom:20px;
		}
	}

	@media (min-width: $screen-lg-min) {
		&.article {
			margin-top:60px;
			padding:60px;
		}
		&.meta {
			margin-top:40px;
			margin-bottom:40px;
		}
		&.share {
			margin-top:40px;
			margin-bottom:60px;
		}
	}
}