$fa-font-path: "../fonts/font-awesome" !default;
$icon-font-path: "../fonts/bootstrap";
$OpenSansPath: "../fonts/opensans";
$font-family-sans-serif: "Open Sans";
$font-size-base: 20px;
$base-font-size: $font-size-base;
$base-line-height: (1.5*$base-font-size);
$border-radius-base: 0;
$grid-float-breakpoint: 992px;
$brand-primary: #63bc46;

@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../../node_modules/font-awesome/scss/font-awesome";
@import "../../node_modules/open-sans-fontface/sass/variables";
@import "../../node_modules/open-sans-fontface/sass/mixins";
@import "../../node_modules/open-sans-fontface/sass/Regular";
@import "../../node_modules/open-sans-fontface/sass/Italic";
@import "../../node_modules/open-sans-fontface/sass/Semibold";
@import "../../node_modules/open-sans-fontface/sass/SemiboldItalic";
@import "../../node_modules/open-sans-fontface/sass/Bold";
@import "../../node_modules/open-sans-fontface/sass/BoldItalic";
@import "../../node_modules/compass-mixins/lib/compass/typography";
@import "light";
@import "dark";


body {
	background-color:#fefefe;
	font-size: 12px;
}

ul {
	padding-left:10px;
}

a {
	cursor:pointer;
}

@media (min-width: 480px) {
	body {
		font-size: 14px;
	}
	ul {
		padding-left:20px;
	}
}

@media (min-width: 600px) {
	body {
		font-size: 16px;
	}
	ul {
		padding-left:30px;
	}
}

@media (min-width: 690px) {
	body {
		font-size: 18px;
	}
	ul {
		padding-left:40px;
	}
}

@media (min-width: $screen-md-min) {
	body {
		font-size: 20px;
	}
	ul {
		padding-left:40px;
	}
}

.text-red {
	color: #e00000;
}

a.text-red:hover {
	color: #e00000;
	opacity:0.8;
}

.text-facebook {
	color: #3b5998;
}
a.text-facebook:hover {
	color: #3b5998;
	opacity:0.8;
}

.text-twitter {
	color: #1da1f2;
}
a.text-twitter:hover {
	color: #1da1f2;
	opacity:0.8;
}

.text-gplus {
	color: #d34836;
}
a.text-gplus:hover {
	color: #d34836;
	opacity:0.8;
}

.text-tumblr {
	color:#304e6f;
}
a.text-tumblr:hover {
	color: #d34836;
	opacity:0.8;
}

.text-reddit {
	color:#369;
}
a.text-reddit:hover {
	color: #369;
	opacity:0.8;
}

.text-linkedin {
	color:#0077B5;
}
a.text-linkedin:hover {
	color: #0077B5;
	opacity:0.8;
}

.text-wordpress {
	color:#21759b;
}
a.text-wordpress:hover {
	color: #21759b;
	opacity:0.8;
}

.navbar-default {
	background-color:#fff;
	font-size:          ($font-size-base * 0.8);
	.navbar-nav > li > a, .navbar-brand {
		color:          #000000;
		text-transform: uppercase;
	}
	.navbar-brand {
		font-size: inherit;
	}
}

article {
	@include establish-baseline;
	@include rhythm(0.5, 0, 0.5, 0);
	color:       #333333;
	hyphens:     auto;

	line-height: rhythm();

	header {
		text-align: center;
		@include trailer();
	}

	h1 {
		@include rhythm(0, 0, 0, 0.5, 45px);
		@include adjust-font-size-to(45px);
	}

	h2 {
		@include rhythm(1, 0, 0, 0.5, 30px);
		@include adjust-font-size-to(30px);
	}
	h2:first-child {
		@include rhythm(0, 0, 0, 0.5, 30px);
	}

	h3 {
		@include rhythm(1, 0, 0, 1, 24px);
		@include adjust-font-size-to(24px);
	}
	h3:first-child {
		@include rhythm(0, 0, 0, 1, 24px);
	}

	h4 {
		@include rhythm(1, 0, 0, 1, 20px);
		@include adjust-font-size-to(20px);
	}
	h4:first-child {
		@include rhythm(0, 0, 0, 0.5, 20px);
	}

	p, ul li {
		@include rhythm(0, 0, 0, 1);
		text-align: justify;
	}

	sup, sub {
		vertical-align: baseline;
		position:       relative;
	}
	sup {
		top: -0.4em;
	}
	sub {
		top: 0.4em;
	}

	pre {
		@include rhythm(0, 0, 0, 1);
		margin:     0;
		padding:    0;
		border:     0;
		font-size:  inherit;
		word-break: normal;
		word-wrap:  normal;
		@include adjust-font-size-to(16px);
	}
	pre code {
		display:      block;
		@include rhythm(0, 0, 0, 0);
		@include rhythm-borders();
		border-color: #cccccc;
		word-break:   normal;
		word-wrap:    normal;
		overflow-y:   auto;
	}

	footer {
		color:#555;
		.author {
			@include rhythm(0, 0, 0, 0);
			@include leading-border(1px, 0.5);
			border-color: #cccccc;
			@include adjust-font-size-to(18px);

			.author-image {
				@include rhythm(0.5, 0, 0, 0);
				@extend .img-responsive;
				@extend .img-circle;
			}
		}
		.share {
			text-align:center;
			@include rhythm(0, 0, 0, 0);
			@include rhythm-borders();
			border-color: #cccccc;
			a {
				margin-left:2px;
				margin-right:2px;
				@include adjust-font-size-to(42px);
			}
		}
	}
}

.articlegrid {
	@include establish-baseline(16px);
	font-size:16px;

	h2 {
		font-size:inherit;
		line-height:inherit;
		@include rhythm(0, 0.5, 0.5, 0);
		margin-top:0;
		margin-bottom:0;
		a {
			color:inherit;
			font-weight:bold;
		}
	}

	img {
		max-width:100%;
	}
	p {
		margin-top:0;
		margin-bottom:0;
		text-align:justify;
	}

	.btn {
		@include rhythm(0.5, 0.5, 0.5, 0);
		width:100%;
		text-align:center;
		font-size:inherit;
	}
}

footer.main {
	@include rhythm(1, 0, 1, 0);
	font-size:16px;
	line-height:1.5em;
	color:#b0b0b0;
	background-color:#292929;
	a {
		color:#fff;
	}

	h2 {
		text-align:center;
		@include rhythm(1, 0, 1, 0);
		color:#e1e1e1;
		font-size:inherit;
		line-height:inherit;
		text-transform: uppercase;
	}
	@media (min-width: $screen-md-min) {
		h2 {
			text-align:left;
		}
	}
	p {
		@include rhythm(0, 0, 0, 0);
	}
	.fa {
		color:#e1e1e1;
	}

	.fa.text-red {
		@extend .text-red;
	}

	ul {
		list-style-type: none;
		padding:         0;
		border-bottom:   1px solid #b0b0b0;

		li {
			padding: 0;

			a {
				display:       block;
				padding-left:  20px;
				padding-right: 20px;
				height:        rhythm(2);
				line-height:   rhythm(2);
				border-top:    1px solid #b0b0b0;
				cursor:        pointer;

				&:hover {
					text-decoration:  none;
					background-color: #232323;
				}
			}
		}
	}
}

footer.copyright {
	line-height:50px;
	height:50px;
	font-size:14px;
	color:#b0b0b0;
	background-color:#232323;
	a {
		color:#fff;
	}
	p {
		@include rhythm(0, 0, 0, 0);
	}

	a.btn {
		padding:0;
		line-height:30px;
		height:30px;
		width:30px;
		text-align:center;
		border:0;
		background:#b0b0b0;
		font-size:12px;
		&:hover {
			color:#b0b0b0;
			background:#e1e1e1;
		}
	}
}